@model WebInformacionContactoAR.Models.Contacto

@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About</h2>
<h5>Esta pagina fue realiza en Visual Studio con C Sharp se considera una pagina para control de docentes de la Universidad Mariano Galvez de Guatemala</h5>

