@model WebInformacionContactoAR.Models.Contacto

@{
    ViewBag.Title = "Contacto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Informacion del alumno</h1>
<h1>Detalles</h1>
<h3>0900-22-3187</h3>
<h3>Allan David Alessandro Racancoj Lopez</h3>
<h3>Programacion II</h3>

